@model IEnumerable<Parttime.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statisticts";
}

<!--https://github.com/Nandathilaka/University-System.git<h2>ViewBag.Title.</h2>
<h3>ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
-->

<h2>
    Student Body Statistics
</h2>

<table class="table">
    <tr>
        <th>Enrollments Date</th>
        <th>Students</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
            @item.StudentCount
        </td>
    </tr>
    }
</table>

